* {
  padding: 0px;
  margin: 0px;
}
ul,
ol {
  list-style: none;
}
.Conthtc {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.Conthtl {
  display: flex;
  align-items: flex-start;
  justify-content: left;
}
.Conthcc {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Conthcl {
  display: flex;
  align-items: center;
  justify-content: left;
}
.Conthcr {
  display: flex;
  align-items: center;
  justify-content: right;
}

.Contvtc {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.Contvec {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.Contvtl {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.Contvcc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Contvcl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.Contvcr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
#img-user {
  width: 100%;
  height: 16%;
  margin-top: 5%;
  margin-bottom: 5%;
}
#logo {
  width: 40%;
  height: 100%;
}
#name-user {
  width: 49%;
  height: 100%;
  margin-left: 1%;
  color: white;
}
#menu-nav-izquierdo {
  width: 100%;
  height: 50%;
}
#carrusel {
  width: 95%;
  height: 67%;
  background: white;
  display: block;
  margin: auto;
}
#icono-usuario {
  background: rgb(9, 156, 146);
  opacity: 0.6;
}
#panel {
  width: 100%;
  height: 7%;
  background: white;
}
#tituolo_panel {
  width: 350px;
  height: 50%;
  color: black;
  margin: auto;
}
#menu-contenido {
  width: 100%;
  height: 92%;
  background: #dae0e8;
}
#menu-derecho {
  width: 80%;
  height: 100vh;
}
#menu-nav {
  width: 100%;
  height: 8%;
  background: #099c92;
}
#menu {
  width: 20%;
  height: 100vh;
  background: #193033;
}
#menu-card-usuario {
  box-shadow: none;
  background: white;
  opacity: 0.6;
  width: 25%;
  height: 70%;
}
#menu-card-usuario:hover {
  opacity: 1;
  background: #ddd;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}

#menu-card-usuario:hover #icono-usuario {
  background: rgb(9, 156, 146, 1);
}
#menu-card-usuario:hover #contenido-usuario {
  background: white;
}
#menu-card-usuario {
  transition: opacity 0.3s;
}
#icono-libro {
  background: rgb(9, 156, 146);
  opacity: 0.6;
}
#menu-card-libros {
  box-shadow: none;
  background: white;
  opacity: 0.6;
  width: 25%;
  height: 70%;
  background: white;
  margin-left: 5%;
}
#menu-card-libros:hover {
  opacity: 1;
  background: #ddd;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}

#menu-card-libros:hover #icono-libro {
  background: rgb(9, 156, 146, 1);
}
#menu-card-libros:hover #contenido-libro {
  background: white;
}
#menu-card-libros {
  transition: opacity 0.3s;
}

#icono-pedido {
  background: rgb(9, 156, 146);
  opacity: 0.6;
}
#menu-card-pedidos {
  box-shadow: none;
  background: white;
  opacity: 0.6;
  width: 25%;
  height: 70%;
  background: white;
  margin-left: 5%;
}
#menu-card-pedidos:hover {
  opacity: 1;
  background: #ddd;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}

#menu-card-pedidos:hover #icono-pedido {
  background: rgb(9, 156, 146, 1);
}
#menu-card-pedidos:hover #contenido-pedido {
  background: white;
}
#menu-card-pedidos {
  transition: opacity 0.3s;
}
h3 {
  color: red;
}

nav {
  width: 100%;
}

nav li {
  width: 100%;
}

nav li:hover {
  background-color: #295359;
}

nav a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 5px;
}
nav ul ul {
  display: none;
}

nav li:hover > ul {
  display: block;
  background: #1f3c40;
  margin-left: 5%;
}
#cards {
  width: 100%;
  height: 20%;
}
@media (max-width: 769px) {
  body {
    width: 100%;
    height: 100vh;
  }
  #app {
    width: 100%;
    height: 100vh;
  }
  #menu {
    width: 30%;
    height: 100vh;
  }
  #menu-derecho {
    width: 70%;
    height: 100vh;
  }
  #menu-nav {
    width: 100%;
    height: 8%;
    background: #099c92;
  }
  #menu-contenido {
    width: 100%;
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  #panel {
    width: 86%;
    height: 7%;
  }

  #cards {
    margin-top: 6%;
    width: 76%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  #menu-card-usuario {
    width: 90%;
    height: 30%;
    margin-left: auto;
    margin-bottom: 10px;
  }
  #menu-card-pedidos {
    height: 30%;
    width: 90%;
    margin-bottom: 10px;
    margin-left: auto;
  }
  #menu-card-libros {
    height: 30%;
    margin-left: auto;
    width: 90%;
    margin-bottom: 10px;
  }
  #carrusel {
    margin: 10px;
    width: 75%;
  }
}

@media (max-width: 415px) {
  body {
    width: 100%;
    height: 100vh;
  }
  #app {
    width: 100%;
    height: 100vh;
  }
  #menu {
    width: 36%;
    height: 100vh;
  }
  #menu-derecho {
    width: 64%;
    height: 100vh;
  }
  #menu-nav {
    width: 100%;
    height: 8%;
    background: #099c92;
  }
  #menu-contenido {
    width: 100%;
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  #panel {
    width: 100%;
    height: 7%;
  }
  #tituolo_panel {
    margin: auto;
    width: 96%;
    height: 90%;
    font-size: 15px;
  }

  #cards {
    margin-top: 6%;
    width: 100%;
    height: 50%;
  }
  #menu-card-usuario {
    width: 90%;
    height: 30%;
    margin-left: 13px;
    margin-bottom: 10px;
  }
  #menu-card-pedidos {
    height: 30%;
    width: 90%;
    margin-bottom: 10px;
    margin-left: 13px;
  }
  #menu-card-libros {
    height: 30%;
    margin-left: auto;
    width: 90%;
    margin-left: 13px;
  }
  #carrusel {
    margin: 10px;
    width: 92%;
  }
  #img-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #img-user,
  #logo {
    margin-top: 30px;
    width: 100%;
  }
  #img-user,
  #name-user {
    margin-top: 20px;
    margin-left: 10px;
    width: 100%;
  }
  #menu-nav-izquierdo {
    margin-top: 50px;
  }
}
